<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Election 2024</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/styles.css">
</head>
<body background="http://127.0.0.1:8000/static/img/NAM.jpg" style=" background-size: cover;background-position: center;height: 100dvh; " >
    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo"><center>College Election</center></div>
            <img src="http://127.0.0.1:8000/static/img/logo.png" width="50px" height="50px" type="image/png">
            <br>
            <nav>
                <ul>
                    <li><a href="{% url 'voteview' %}">Home</a></li>
                    <li><a href="{% url 'candidatesview' %}" >Candidates</a></li>
                    <li><a href="#" class="active">Voting</a></li>
                    <li><a href="{% url 'roview' %}">RO</a></li>
                </ul>
            </nav>
            <br>
        </div>
    </header>

       <!-- Voting Information -->
       <section id="voting" class="section">
        <div class="container">
            <h2>How to Vote</h2>
            <p>Follow these simple steps to cast your vote online:</p>
            <ol>
                <li>Login to your student account</li>
                <li>Click on your preferred candidate</li>
                <li>Submit your vote!</li>
                <br>
            </ol>
            <p><a href="voting-guide.html" class="btn">Read Voting Guide</a></p>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


        <!-- Footer -->
        <footer>
            <div class="container">
                <p>&copy; 2024 College Election | All Rights Reserved</p>
                <div class="social-links">
                    <a href="#">Facebook</a> | 
                    <a href="#">Instagram</a> | 
                    <a href="#">Twitter</a>
                </div>
            </div>
        </footer>

    </body>
    </html>